<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	
	<typeAliases>
		<!-- <typeAlias type="org.lanqiao.entity.Student" alias="Student" /> -->
		<package name="com.lzq.entity"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置SQL语句映射文件 -->
	<mappers>
		<mapper resource="com/lzq/mapper/CourseMapper.xml"/>
	</mappers>
</configuration>
